
.header-logo {
    background: $darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-left: 13px;
    
    
    
    @media (min-width: $tablet-min) {
    
    }
    
    @media (min-width: $desktop) {
        padding: 0;
        padding-top: 32px;
        
    }
    
    &__wrap {
        img {
            height: 28px;
            width: auto;
            
            @media (min-width: $tablet-min) {
                height: 40px;
            }
            
            @media (min-width: $desktop) {
                height: 50px;
            }
        }
    }
    
    &__subtitle {
        font-size: 20px;
        color: white;
        font-weight: lighter;
        letter-spacing: 2.3px;
        text-align: left;
        margin-top: 5px;

        &__bold {
            font-weight: bold;
            
        }

        @media (min-width: $desktop) {
            text-align: center;
        }
    }

    
    
    &__arabesque {
        margin-top: -25px;
        height: 115px;
        width: auto;
        @media (min-width: $desktop) {
            height: 140px;
            width: auto;
            margin-top: -30px;
        }

       
        
        
        &--desktop {
            
            display: none;
            @media (min-width: $desktop) {
                display: block;
            }
            
        }
    }
    
    
}


