.header {
    z-index: 4;
    font-family: $font-family-montserrat;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: lightgray;
    margin: 0;
    
    
    
    
}